@import-normalize;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#root {
  --primary-text-color: #566885;
  --primary-bg-color: #e9e6e6;

  --font-family: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --primary-line-height: 1.5;
  /* параметры transition для hover */
  --transition-timing: 500ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
