.profile {
  text-align: center;
}

.profile__avatar {
  cursor: pointer;
}

.avatar__input {
  display: none;
}

.avatar__img {
  border-radius: 5px;

  height: 100px;
}

.avatar__remove {
  display: flex;
  align-items: center;
}

.avatar__removeBtn {
  border: none;
  color: var(--primary-text-color);
  background: transparent;

  display: flex;
  align-items: center;
}

.email {
  text-align: left;
}

.password {
  display: flex;
  align-items: center;
}

.password input {
  background: white;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-bottom: unset;
}

.changePassword__btn {
  font-weight: 700;

  border: none;
  border-radius: 8px;

  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);

  padding: 5px 25px;
}

.subscription {
  text-align: left;
}

.profile__remove {
  display: flex;
  align-items: center;
}

.profile__removeBtn {
  border: none;
  color: var(--primary-text-color);
  background: transparent;

  display: flex;
  align-items: center;
}

.profile__removeImg {
  height: 15px;
}
