.contactsList__section {
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
}

.contactsList__header {
  text-align: center;

  margin-bottom: 0;
}

.tableHeader {
  border-bottom: solid 1px var(--primary-text-color);

  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

.newContact__button {
  border: solid 1px var(--primary-text-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  background: transparent;

  padding: 7px 13px;

  margin-left: auto;
  margin-bottom: 15px;
}
