.section {
  padding: 10px 20px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 25px 100px;
  }
}

.header {
  text-align: center;
}

/* Блок верхних кнопок */
.controls {
  display: block;
}
@media screen and (min-width: 768px) {
  .controls {
    margin-bottom: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Кнопка 'New contact' */
.btn_newContact {
  border: solid 1px var(--primary-text-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  background: transparent;

  padding: 7px 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .btn_newContact {
    margin-left: unset;
  }
}

/* Селекторы фильтров  */
.selectors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectors_item:not(:last-child) {
  margin-right: 25px;
}

.selectors select {
  border: none;
  border-radius: 7px;
  padding: 0 5px;
}

/* Таблица контактов */
.tableHeader {
  border-bottom: solid 1px var(--primary-text-color);

  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

/* Блок кнопок пагинации */
.pagination {
  margin: 15px 0;

  display: flex;
  justify-content: center;
}
.pagination__item:not(:last-child) {
  margin-right: 15px;
}
.pagination__btn {
  border: none;
  border-radius: 8px;
  color: var(--primary-bg-color);
  background: var(--primary-text-color);

  padding: 7px 20px;
}

/* Индекс текущей траницы */
.page {
  font-style: italic;
}
