.navbar__section {
  background-color: #fff;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__home {
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
}

.navbar__header {
  font-style: 24px;
  font-weight: 700;

  margin-left: 10px;
}

.navbar__logo {
  height: 30px;
}

.navbar__login {
  font-weight: 700;

  color: var(--primary-text-color);

  margin-left: auto;
  margin-right: 20px;
}

.navbar__signup {
  font-weight: 700;

  color: var(--primary-text-color);
}

.navbar__profile {
  margin-left: auto;
}

.navbar__avatar {
  border-radius: 50%;

  height: 35px;
}

.navbar__logout {
  border: none;

  background: transparent;

  margin-left: auto;
}
